.order {
  text-align: center;
}
.order h1 {
  font-size: 60px;
}

.order p {
  font-size: 25px;
}
.order h3 {
  margin-top: 3%;
  font-size: 35px;
}

.order .close {
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 1%;
  width: 100%;
  height: 2.5rem;
  font-size: 25px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  color: white;
  background-color: rgb(137, 29, 226);
  transition: all 0.5s;
}

.user {
  font-weight: 600;
  font-size: 40px;
}

.order .close:hover {
  background-color: rgb(73, 2, 131);
}

.order .close:active {
  transform: translate(0, 8px);
}

@media (max-width: 655px) {
  .order h1 {
    font-size: 40px;
  }

  .order h3 {
    font-size: 25px;
  }
}
@media (max-width: 437px) {
  .order h1 {
    font-size: 30px;
  }
  .order p {
    margin-top: 2%;
    font-size: 17px;
  }
  .order h3 {
    font-size: 25px;
  }

  .user {
    font-size: 30px;
  }
}
@media (max-width: 328px) {
  .order h1 {
    font-size: 20px;
  }
  .order h3 {
    font-size: 15px;
  }
  .user {
    font-size: 22px;
  }
}
