/* BUTTON */
.action {
  margin-top: 10%;
}

.action button {
  width: 55%;
  height: 2rem;
  padding: 2% 5%;
  text-align: center;
  border: none;
  border-radius: 15px;
  background-color: rgb(116, 23, 202);
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.6s;
}
.action button:hover {
  background-color: rgb(72, 4, 136);
}
.action button:active {
  transform: translate(0, 6px);
}
.action button:disabled,
.action button:hover:disabled,
.action button:active:disabled {
  background: rgb(94, 72, 116);
  color: rgb(168, 168, 168);
  cursor: not-allowed;
  transform: translate(0, 0);
}
@media (max-width: 1134px) {
  .action button {
    padding-top: 2%;
  }
}
@media (max-width: 852px) {
  .action button {
    padding-top: 2%;
  }
}
@media (max-width: 588px) {
  .action button {
    font-size: 15px;
  }
}
@media (max-width: 567px) {
  .action button {
    padding-top: 5%;
  }
}

@media (max-width: 359px) {
  .action button {
    font-size: 12px;
  }
}

@media (max-width: 310px) {
  .action button {
    padding-top: 5%;
  }
}

@media (max-width: 278px) {
  .action button {
    padding-top: 3%;
  }
}
@media (max-width: 242px) {
  .action button {
    font-size: 11px;
  }
}
@media (max-width: 214px) {
  .action button {
    font-size: 9px;
  }
}
