.card {
  background-color: white;
  border: none;
  width: 70%;
  margin: 7% 15%;
  padding: 1% 2%;
  border: none;
  border-radius: 15px;
  box-shadow: 4px 4px 14px 1px black, -4px -4px 14px 1px black;
  transition: all 0.5s;
}
/* @media (max-width: 553px) {
  .card {
    margin: 7% 2.5%;
    width: 95%;
  }
} */
