.overlay {
  background-color: rgb(2, 2, 2, 0.6);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 208%;
  z-index: 11;
  animation: slide-down 300ms ease-out forwards;
}
