/* OVERLAY */

/* ADDED ITEMS IN CART */

.item_details {
  max-height: 14rem;
  overflow-y: scroll;
}
.fetch {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
.err {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: red;
}

.err-close {
  cursor: pointer;
  width: 100%;
  font-size: 25px;
  font-weight: 900;
  margin-top: 4%;
  padding: 1% 4%;
  background-color: white;
  border-color: rgb(52, 1, 100);
  color: rgb(52, 1, 100);
  border-radius: 8px;
  transition: all 0.5s;
}
.err-close:hover {
  background-color: rgb(52, 1, 100);
  color: white;
}
/* TOTAL PRICE */

.total_amount {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}

.total_amount span {
  font-size: 20px;
  font-weight: 600;
}

.amount_action {
  text-align: right;
  margin-top: 2%;
}
.close_only {
  width: 100%;
}

.close_only:hover {
  background-color: rgb(91, 3, 150);
  color: white;
}
.amount_action button {
  height: 3rem;
  font-size: 20px;
  margin: 1%;
  border-radius: 10px;
  border: 2px solid rgb(91, 3, 150);
  cursor: pointer;
  transition: all 0.5s;
}
.close {
  width: 20%;
}
.order {
  width: 20%;
}
.amount_action button:active {
  transform: translate(0, 6px);
}

.amount_action .close {
  background-color: white;
}
.amount_action .close:hover {
  background-color: rgb(91, 3, 150);
  color: white;
}
.amount_action .order {
  background-color: rgb(133, 4, 219);
  color: white;
}
.amount_action .order:hover {
  background-color: rgb(62, 3, 102);
  color: white;
}

@media (max-width: 765px) {
  .total_amount h2 {
    font-size: 18px;
  }

  .total_amount span {
    font-size: 20px;
  }
  .close {
    width: 40%;
    font-size: 25px;
  }
  .order {
    width: 40%;
  }
}

@media (max-width: 501px) {
  .amount_action {
    display: flex;
    justify-content: space-between;
  }
  .close {
    width: 48%;
  }
  .order {
    width: 48%;
  }
}

@media (max-height: 460px) {
  .item_details {
    max-height: 7rem;
  }
}
